<style>
h2 {
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 20px;
}

label {
  font-weight: 600;
  font-size: 16px;
}

/* Form */
.form-wrapper {
  max-width: 500px;
  margin: 0 auto;
  padding: 50px 30px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.form-group {
  margin-bottom: 30px;
}

.form-control {
  display: block;
  width: 90%;
  height: 30px;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: #555;
  background-color: #f9f9f9;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 3px;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-control:focus {
  border-color: #80bdff;
  box-shadow: 0 0 0 3px rgba(128, 189, 255, 0.2);
}

.btn {
  display: inline-block;
  padding: 12px 30px;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.5;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.btn:hover {
  background-color: #0069d9;
}

@media screen and (max-width: 600px) {
  .form-wrapper {
    padding: 30px 20px;
  }

  .form-control {
    height: 20px;
    font-size: 14px;
    padding: 8px 16px;
  }

  .btn {
    font-size: 14px;
    padding: 10px 20px;
  }
}
</style>
<div class="form-wrapper">
  <h2>Sign up</h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="form-group">
      <%= f.label :email %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :password %>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %>
      <%= f.password_field :password, autocomplete: "new-password", class: "form-control" %>
</div>
<div class="form-group">
  <%= f.label :password_confirmation %>
  <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
</div>

<div class="form-group">
  <%= f.submit "Sign up", class: "btn" %>
</div>
<% end %>

<%= render "devise/shared/links" %>

</div>
