<p style="color: green"><%= notice %></p>
<div class="show_row">
<%= render @friend %>
<div class="action">
 <%= link_to "Edit", edit_friend_path(@friend) %> |
  <%= link_to "Back", friends_path %>

  <%= button_to "Destroy", @friend, method: :delete %>
</div>
</div>
