<style>
.flex-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

  .container {
    display: flex;
    flex-direction: column;
    width: 90%;
    max-width: 500px;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  h2 {
    text-align: center;
    margin-bottom: 20px;
  }

  form {
    display: flex;
    flex-direction: column;
  }

  label {
    font-size: 1.1rem;
    font-weight: bold;
    margin-bottom: 5px;
  }

  input[type="email"],
  input[type="password"] {
    font-size: 1rem;
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 3px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  }

  input[type="email"]:focus,
  input[type="password"]:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  }

  input[type="submit"] {
    background-color: #1abc9c;
    color: #fff;
    font-size: 1.1rem;
    font-weight: bold;
    padding: 10px;
    border: none;
    border-radius: 3px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: background-color 0.2s ease;
  }

  input[type="submit"]:hover {
    background-color: #148f77;
  }

  @media only screen and (max-width: 600px) {
    .container {
      margin: 20px;
      padding: 10px;
    }

    input[type="email"],
    input[type="password"] {
      margin-bottom: 10px;
    }

    input[type="submit"] {
      font-size: 1rem;
      padding: 8px;
    }
  }
</style>

<div class='flex-container'>
<div class="container">
  <h2>Log in</h2>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <label for="user_email">Email</label>
    <%= f.email_field :email, autofocus: true, autocomplete: "email", id: "user_email" %>

    <label for="user_password">Password</label>
    <%= f.password_field :password, autocomplete: "current-password", id: "user_password" %>

    <% if devise_mapping.rememberable? %>
      <div class="remember-me">
        <%= f.check_box :remember_me, id: "user_remember_me" %>
        <label for="user_remember_me">Remember me</label>
      </div>
    <% end %>

    <input type="submit" value="Log in" data-turbo="false">
  <% end %>
<br>
  <%= render "devise/shared/links" %>
  </form>
</div>
</div>
